<tr>
  <td><%= user.name %></td>
  <td><%= user.created_at %></td>
  <td><%= user.admin? ? "yes" : "no" %></td>
  <td><%= link_to 'Show', user %></td>
  <td><%= link_to 'Edit', edit_user_path(user) %></td>
  <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
