<!DOCTYPE html>
<html>
<head>
  <title>Retsyn</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  
<p class="welcome">Welcome, <%= current_user.name %></p>

<%= yield %>

</body>
</html>
